<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="DropboxKey" value=""/>
  <add key="DropboxSecret" value=""/>
  <add key="DropboxFolder" value="/Public"/>
  <add key="DropboxRedirectUri" value="http://localhost:8000/dropbox/callback"/>

  <add key="ExactKey" value=""/>
  <add key="ExactSecret" value=""/>
  <add key="ExactBaseUri" value="https://start.exactonline.nl/"/>
  <add key="ExactRedirectUri" value="http://localhost:8000/oauth2/callback"/>
</appSettings>
</configuration>