<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="DropboxKey" value="c9yv1exr1ls46e6"/>
  <add key="DropboxSecret" value="dlyvhi24aw05fyx"/>
  <add key="DropboxFolder" value="/Public"/>

  <add key="ExactKey" value="{d51e5b50-e845-4910-b21c-9aa7d2f43cb2}"/>
  <add key="ExactSecret" value="UJXxyA3tdtnn"/>
  <add key="ExactBaseUri" value="https://start.exactonline.nl/"/>
  <add key="ExactRedirectUri" value="http://localhost:8000/oauth2/callback"/>
</appSettings>
</configuration>